p {
  font-family: Arial;
}

li {
  font-family: Arial;
  margin: 10px;
}

.topnav a:hover {
  background-color: #111;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 3px solid green;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}


.footer {
  display: block;
  color: white;
  background-color: #333;
  border: 3px solid green;
  padding: 3px 0;
}

.center {
    text-align: center;
}

#projects {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #projects td,
    #projects th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #projects tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #projects tr:hover {
      background-color: #ddd;
    }

    #projects th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: green;
      color: white;
    }


